﻿.ui-jqgrid tr.jqgrow td {
    vertical-align: middle;
    border-right-style: solid;
}

.ui-jqgrid .ui-pg-selbox {
    height: 23px;
    width: 60px !important;
    padding-top: 2px !important;
}

.ui-pg-input {
    width: 50px;
}

.ui-jqgrid tr.jqgrow td {
    white-space: nowrap;
}

.ui-tabs-nav .ui-state-default a {
    font-weight: normal;
}

.frozenColumn {
    background: 'lightgray';
}

.UnfrozenColumn {
    background: 'lightgray';
}

tbody tr:nth-of-type(odd), .ui-widget-content tbody tr:nth-of-type(odd) {
    background: #ECF1EF;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background-color: #66B3FF !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover {
    background-color: #9DD0F2 !important;
    border-color: #9DD0F2;
    color: #ffffff;
}

th.ui-th-column {
    border-right-color: #fff !important;
    border-width: 1px !important;
}

/*th.ui-th-column div{
    white-space:normal !important;
    height:auto !important;
    padding:2px;
}*/

.ui-search-toolbar {
    background-color: #fff;
}

.ui-tabs .ui-jqgrid {
    border-right-width: 1px!important;
    border-right-color: red;
    border-left-width: 1px!important;
}

.ui-jqgrid, .ui-tabs .ui-jqgrid {
    border-width: 1px;
}

.ui-jqgrid tr.ui-row-ltr td {
    border-right-color: #fff;
}

.ui-tabs .ui-jqgrid tr {
    border-width: 0px !important;
}

.ui-jqgrid table {
    border-right: 2px solid #D4D4D4 !important;
}

.ui-widget-header, .ui-jqgrid-sortable {
    font-weight: normal;
}

.ui-jqgrid .ui-jqgrid-titlebar {
    padding: .25em .2em .2em .3em !important;
}
