﻿@model  Chat.Web.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<form role="form" id="frmReportFilteration" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="control-space">
                <h4 class="content-title"><u>Date Filter</u></h4>
                <hr />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="PreDefined" id="PreDefinedCheckbox" checked>
                <label class="form-check-label" for="PreDefined">
                    Pre-Defined
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="PreDefined" id="CustomCheckbox">
                <label class="form-check-label" for="Custom">
                    Custom
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="control-space">
                <h4 class="content-title"><u>Filteration</u></h4>
                <hr />
            </div>
        </div>
    </div>
    <div class=" row">
        <div id="PreDefinedBlock">
            <div class="col-xs-3">
                <div class="form-group">
                    <label class="label-info">Pre Defined</label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.PreDefinedVal, (Model.PreDefineds).Select(option => new SelectListItem
                        {
                            Text = Html.DisplayTextFor(_ => option.Text).ToString(),
                            Value = option.Value.ToString(),
                            Selected = (Model != null) && (option.Value.Equals(Model.PreDefinedVal))
                        }), "Not Set", new { @class = "special-dropdown form-control" })
                        @Html.ValidationMessageFor(m => m.PreDefinedVal)
                    </div>
                </div>
            </div>
        </div>
        <div id="CustomBlock">
            <div class='col-xs-3'>
                <div class="form-group">
                    <label class="label-info">From Date</label>
                    <div class='input-group date' id='StartDateDiv'>
                        <input id="StartDate" name="StartDate" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-xs-3'>
                <div class="form-group">
                    <label class="label-info">To Date</label>
                    <div class='input-group date' id='EndDateDiv'>
                        <input id="EndDate" name="EndDate" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label class="label-info">Devices</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.Device, (Model.Devices).Select(option => new SelectListItem
                    {
                        Text = Html.DisplayTextFor(_ => option.Text).ToString(),
                        Value = option.Value.ToString(),
                        Selected = (Model != null) && (option.Value.Equals(Model.Device))
                    }), "Not Set", new { @class = "special-dropdown form-control" })
                    @Html.ValidationMessageFor(m => m.Device)
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label class="label-info">Websites</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.Website, (Model.Websites).Select(option => new SelectListItem
                    {
                        Text = Html.DisplayTextFor(_ => option.Text).ToString(),
                        Value = option.Value.ToString(),
                        Selected = (Model != null) && (option.Value.Equals(Model.Website))
                    }), "Not Set", new { @class = "special-dropdown form-control" })
                    @Html.ValidationMessageFor(m => m.Website)
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button id="btnReportFilteration" type="submit" class="btn btn-primary">Filter Report</button>
        </div>
    </div>
</form>

<hr />
<div class="row">
    <div class="col-xs-12">
        <table id="vw_ReportSearchGrid" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Operator Name</th>
                    <th>Proactive Sent</th>
                    <th>Proactive Answered</th>
                    <th>Proactive Response Rate</th>
                    <th>Reactive Received</th>
                    <th>Reactive Answered</th>
                    <th>Reactive Response Rate</th>
                    <th>Total Chat Length</th>
                    <th>Average Chat Length</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var report in Model.ReportData)
                {
                    <tr>
                        <td>@report.ID</td>
                        <td>@report.Name</td>
                        <td>@report.ProactiveSent</td>
                        <td>@report.ProactiveAnswered</td>
                        <td>@report.ProactiveResponseRate</td>
                        <td>@report.ReactiveReceived</td>
                        <td>@report.ReactiveAnswered</td>
                        <td>@report.ReactiveResponseRate</td>
                        <td>@report.TotalChatLength</td>
                        <td>@report.AverageChatLength</td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>


@section Scripts {
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $.ChatJS.Initialize();
            });
        })(jQuery);
    </script>
}
